<h1>Dogs & Deals</h1>
<%= render "shared/menu" %>
<%= render "shared/nav" %>
<h2>List of all the stores:</h2>
<ul>
  <% @stores.each do |store| %>
  <li>Store name: <%= link_to store.name, store %></li>
  <% end %>
</ul>
