 <div class="dropdown">
  <button class="dropbtn">Menu</button>
  <div class="dropdown-content">
    <ul>
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Stores', '../stores' %></li>
      <li><%= link_to 'About', '../about' %></li>
    </ul>
  </div>
</div>