<h1>Dogs & Deals</h1>
  <%= render "shared/menu" %>
  <%= render "shared/nav" %>
  <p>The idea of this project is to create fake deals of dog breeds in stores generated using the Faker resource <a href="https://github.com/stympy/faker">https://github.com/stympy/faker.</a></p>
  <p>The dog breeds were imported using a json from the website <a href="https://dog.ceo/dog-api/documentation/">https://dog.ceo/dog-api/documentation/</a></p>
  <p>Below is a picture of the ERD created to store the data:
    <%= image_tag("projectERD.png") %></p>
